[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/asheshjain399/tensorflow.git
	branch = master
[submodule "tf_models"]
	path = tf_models
	url = https://github.com/tensorflow/models.git
